.heading,
.recipes {
    text-align: center;
}

body {
    background-color: rgb(200, 255, 237);
}

.heading {
    font-family: "Linotype Nordica", Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 16% 0 0 0;
}

.recipes {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.main-heading {
    text-decoration:underline;
}

li:nth-child(odd) {
    display: inline-block;
    margin-right: 50%;
    vertical-align:top;
}

li:nth-child(even) {
    display: inline-block;
}